
:root{
  --pale-blue: #E0E8FF;
  --bright-blue:#3829e0;
  --very-pale-blue: #f5f7ff;
  --desaturated-blue:#7280a7;
  --desaturated-bright-blue:#766CF1;
  --dark-blue:#1f2f56;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display',sans-serif;
}

html {
	box-sizing: border-box;
  font-size: 14px;
}

@media (min-width: 1000px) {
  html{
    font-size: 16px;
  }
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body{
  background: url('./images/pattern-background-mobile.svg'), var(--pale-blue);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  font-family: 'Red Hat Display',sans-serif;
}

@media (min-width: 1000px) {
  body{
    background: url('./images/pattern-background-desktop.svg'), var(--pale-blue);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: top;
  }
}

h1{
  color: var(--dark-blue);
  font-weight: 900;
  font-size: 22px;
}

@media (min-width: 1000px) {
  h1{
    font-size: 28px;
  }
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  background: #fff;
  min-width: 327px;
  width: 31%;
  box-shadow: 0px 15px 30px rgba(114, 114, 114, 0.2);
  border-radius: 20px;
}

.hero{
  width: 100%;
  margin-bottom: 20px;
}

.hero img{
  width:100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card__information{
  display: flex ;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 4% 12%;
  gap: 20px;
}

.card__information p {
  font-size: 15px;
  line-height: 1.5;
  color: var(--desaturated-blue);
  padding: 0 10px;
}

@media (min-width: 1000px) {
  .card__information p {
    font-size: 16px;
  }
}

.membership, .membership__type{
  display: flex;
  align-items: center;
}

.membership{
  background-color: var(--very-pale-blue);
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.membership .membership__type{
  flex-flow: column nowrap;
}

.membership__type h2, .membership__type span{
  font-size: 16px;
}

.membership__type span{
  color: var(--desaturated-blue);
}

.membership a {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

.membership a:active{
  color: var(--desaturated-bright-blue);
}

.membership a:visited{
  color: var(--bright-blue);
}

.membership__wrapper{
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.button-cta{
  outline: 0px solid transparent;
  border: 0px solid transparent;
  width: 100%;
  padding: 15px 0;
  font-weight: 900;
  border-radius: 10px;
  cursor: pointer;
}

.button-cta.btn-pay{
  background-color: var(--bright-blue);
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
  0 20px 20px rgba(56, 41, 224, 0.1903);
  font-size: 16px;
}

.button-cta.btn-pay:active{
  background-color: var(--desaturated-bright-blue);
  color: var(--very-pale-blue);
}

.button-cta.btn-cancel{
  background-color: transparent;
  color: var(--desaturated-blue);
  font-size: 15px;
  margin-bottom: 10px;
}


.button-cta.btn-cancel:active{
  color: var(--dark-blue);
}